## ASSIGNMENT -1

## Q-1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 

ANS-1  
Values: ‘hello’ , -87.8, 6 

Expression: * , - , / ,+ 


## Q-2. What is the difference between string and variable?

Ans:-2 
Strings:- strings are sequence of characters ,it is created by enclosing quotes, single quotation or double quotation can be used. Strings can be sliced ,modified and formatted. 

Variables:-Variables are named location that register some space in memory to store data that is assigned to it. variables are declared using “=” ,name of the variable is in left side and its value in the right side of “equal to” sign. 

Eg., platform=”ineuron”, 
Here, platform is a variable and ineuron is a sring attached to it



## Q-3. Describe three different data types.

Ans-3 

Since python is a dynamically typed language it is not necessary to declare the type of data each time, python detects types of variable by examining their value. Three different data types can be:- 

a)	Integers: These are whole numbers without any fractional part, declared as “int”. 
 
Eg.-x=3,y=-45

b)	Floats:-It represents real numbers, all positive and negative numbers with a decimal point can be referred as float data types. 

Eg.-x=4.33,y=-3.20 
 
c)	Strings:- Strings are sequence of characters created by enclosing quotes. Eg.- ame=”Abhishek Anand”, age=”23” 


## Q-4. What is an expression made up of? What do all expressions do? 

Ans-4 

Expression is made up of values, variables and operators that evaluates a desired result, An expression is made up of values (numbers, strings, Booleans, or None) variables, and operators. 

Expressions are a fundamental part of python programming, they allow us to perform calculations, make decisions, and control loops. Expressions can be used in a variety of ways in python. They can be used to assign values to variables, to pass arguments to functions, and to make decisions in conditional statements. 

Examples of expression 

Arithmetic expressions: Used to perform mathematical operations, Eg.: X=4+8, 

Comparison expressions: Used to compare Boolean values, result as True or false.Eg.:(3==4)

Logical expressions: combination of Boolean values and operators, and, or not 
 


## Q-5.	This assignment statements, like spam = 10. What is the difference between an expression and a statement? 

Ans-5 

spam=10, This is a statement which assigns the value 10 in the variable spam. A statement tells the interpreter to do something but an expression evaluates to a single value. 

The difference between an expression and a statement is that an expression evaluates to a value, while a statement does not necessarily evaluate to a value, For example , 

The expression 4+2 valuates to a value 6, while the statement print(“India is our country”) does not evaluate to a single value. Expression are used to perform calculation while statement used to control  the flow of execution.

## Q-6.	After running the following code, what does the variable bacon contain? 
bacon = 22 

bacon + 1 

Ans-6

The variable bacon contains 22. The code in second line adds up to 23 but it does not get stored in the variable bacon so bacon contain the value 22 as assigned earlier.

In [2]:
bacon=22
bacon+1
print(bacon)

22

## Q-7. What should the values of the following two terms be? 

'spam' + 'spamspam' 

'spam' * 3 

Ans-7 

In the first line the string ,“spam” is added to another string “spamspam” and gives the value as “spamspamspam”. The value in the second line is also same  “spamspamspam” because the string “spam ” is multiplied 3 times to give the same value.

In [3]:
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam' * 3

'spamspamspam'

## Q-8. Why is eggs a valid variable name while 100 is invalid? 

Ans-8

A valid variable name must start with a  letter or a underscore ,egg is a valid variable but 100 is not because a variable name can never star with a digit.

### Q-9. What three functions can be used to get the integer, floating-point number, or string version of a value? 

Ans-9 

The function used to get integer is: int() 

The function used to get float is: float()

The function used to get stringis: str()

## Q-10. Why does this expression cause an error? How can you fix it? 

'I have eaten ' + 99 + ' burritos.' 

Ans-10 

This expression cause an error because 99 is not a string ,it is an integer. Only strings can be added with other strings to give a concatenated string. 

This error can be fixed by using str(),to convert 99 from integer  to a string we use 99 as the argument of str() , now the fixed expression looks like  

'I have eaten ' + str(99) + ' burritos.'

In [5]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [6]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

# THANKYOU